*/*.pkl
*/*.pth
*/*.wts
*/build/
*/__pycache__/
*/log*
*/*/*.pkl
*/*/*.pth
*/*/*.wts
*/*/__pycache__/
*/*/log*

.vscode/
include/
lib/
src/*/build/
src/*/res/*.onnx
src/*/res/*.trtmodel
src/*/res/*.pt
src/*/res/*.pth
